@use '../../../../styles/variables' as vars;

.react {
  position: relative;
  background-color: #3E4144;
  padding: 4px 8px;
  border-radius: 20px;

  .bi:hover {
    color: vars.$my-green;
  }
}
.chat {
  cursor: pointer;
}

.liked {
  color: vars.$my-green;
}


.loader2 {
  border: 2px solid vars.$my-green;
  border-left-color: transparent;
  border-radius: 50%;
}

.loader2 {
  border: 2px solid vars.$my-green;
  border-left-color: transparent;
  width: 10px;
  height: 10px;
}

.loader2 {
  border: 2px solid vars.$my-green;
  border-left-color: transparent;
  width: 20px;
  height: 20px;
  animation: spin89345 0.5s linear infinite;
}


.loader {
  border: 2px solid vars.$my-green;
  border-radius: 50%;
}

.loader {
  border: 2px solid vars.$my-green;
  width: 10px;
  height: 10px;
}

.loader {
  border: 4px solid vars.$my-green;
  border-left-color: transparent;
  width: 50px;
  height: 50px;
  animation: spin89345 0.5s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
