<div class="w-100 h-100 main" (click)="clickOnWindow($event)">
  <div class="info-report rounded p-2" (click)="$event.stopPropagation()">
    <p class="fw-bold fs-4 m-1">Report</p>
    <p class="fs-6 text-muted">Please select a reason for this action:</p>

    <div id="reason">

      <label>
        <input type="radio" [formControl]="reason" value="Spam">
        Spam
      </label>

      <label>
        <input type="radio" [formControl]="reason" value="Harassment">
        Harassment
      </label>

      <label>
        <input type="radio" [formControl]="reason" value="Hate Speech">
        Hate Speech
      </label>

      <label>
        <input type="radio" [formControl]="reason" value="False Information">
        False Information
      </label>

      <label>
        <input type="radio" [formControl]="reason" value="Inappropriate Content">
        Inappropriate Content
      </label>

      <label>
        <input type="radio" [formControl]="reason" value="Plagiarism">
        Plagiarism
      </label>

      <label>
        <input type="radio" [formControl]="reason" value="Offensive Language">
        Offensive Language
      </label>

      <label>
        <input type="radio" [formControl]="reason" value="Scam or Fraud">
        Scam or Fraud
      </label>

      <label>
        <input type="radio" [formControl]="reason" value="Impersonation">
        Impersonation
      </label>
    </div>
    @if (reason.invalid && (reason.dirty || reason.touched)) {
    @if (reason.hasError("required")) {
    <div class="text-danger">You must chose a reason of report.</div>
    }
    }
    <div class="footer justify-content-end gap-2 d-flex mt-3">
      <button class="btn border" (click)="reportService.hide()">close</button>
      <button class="btn bg-danger text-white" (click)="onClick()">Report</button>
    </div>
  </div>
</div>
@if(reportService.showConfirmation()){
<app-confirmation-pop-up (confirm)="SaveReport()" />
}
