@if(adminService.loader()){
<div class="d-flex justify-content-center align-items-center" style="min-height:50vh">
  <div class="spinner-border text-success"></div>
</div>
}@else {
<div class="container py-3">


  <app-header-reports [statiques]="null" [statiquesBlogs]="statiques()" type="blogs" />

  <!-- Users -->
  <div class="card shadow-sm border-0">
    <div class="card-header hea fw-bold">
      Blogs
    </div>
    <div class="card-body p-2">
      <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th scope="col">Blog</th>
            <th scope="col">Auhtor</th>
            <th scope="col">Status</th>
            <th scope="col">Published</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          @for (blog of blogs(); track $index) {
          <tr class="text-center">

            <td class="text-start fw-bold">
              {{blog.title}}
            </td>
            <td>
              {{blog.author}}
            </td>
            <td>
              <span [ngClass]="blog.status?'status hidden fw-bold':'status fw-bold'">
                @if (blog.status) {
                Hidden
                }@else {
                Active
                }
              </span>
            </td>

            <td class="text-muted">
              {{blog.created_at}}
            </td>
            <td>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <circle cx="12" cy="12" r="1"></circle>
                <circle cx="12" cy="5" r="1"></circle>
                <circle cx="12" cy="19" r="1"></circle>
              </svg>
              <ul class="dropdown-menu">
                <button class="dropdown-item d-flex align-items-center gap-2">
                  <a routerLink="/blog/{{blog.id}}">
                    <i class="bi bi-eye"></i><span>View blog</span>
                  </a>
                </button>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <button class="dropdown-item d-flex align-items-center gap-2" (click)="reportsService.showConfirmAction(blog.id,'blog',blog.author,'Hide/Unhide')">
                    <i class="bi bi-eye-slash"></i>
                    <span>Hide / Unhide blog</span>
                  </button>
                </li>

                <li>
                  <button class="dropdown-item d-flex align-items-center gap-2 text-danger" (click)="reportsService.showConfirmAction(blog.id,'blog',blog.author,'Delete')">
                    <i class="bi bi-trash"></i><span>Delete blog</span>
                  </button>
                </li>
              </ul>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
@if(reportsService.ConfirmAction() && reportsService.action()==="Delete"){
<app-confirmation-pop-up (confirm)="deleteBlog()" />
}
@if(reportsService.ConfirmAction() && reportsService.action()==="Hide/Unhide"){
<app-confirmation-pop-up (confirm)="HideOrUnhide()" />
}
}
