.status {
  padding: 10px;
  border-radius: 20px;
  font-size: 12px;
  background-color: rgba(206, 255, 133, 0.888);
  color: green;
  font-weight: bold;
  letter-spacing: 0.5px;

}

.hidden {
  background-color: #ff7d7da8;
  color: #6d0505;
}
.hea{
  background-color: #333;
}
