<button id="openSearchBtn" type="button" class="form-control text-start" data-bs-toggle="modal"
  data-bs-target="#searchModal">
  Search...
</button>

<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel">
  <div class="modal-dialog ">
    <div class="modal-content p-2">
      <div class="d-flex align-items-center justify-content-between border-bottom">
        <i class="bi bi-search"></i>
        <input type="text" class="form-control border-0" placeholder="Type here..." [formControl]="userInput">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="search-body px-2">
        <p class="fw-bold">Users</p>
        @if (loader()) {
        <p class="text-center">loading...</p>
        }@else {
        @if(users()===undefined){
        <p class="fw-light text-center">type an exist user on input.</p>
        }@else if (users()===null) {
        <p class="fw-light text-center">No user Found</p>
        }@else {
        <app-user-card [users]="users()" (confirm)="sendFollowReq($event)" />
        }
        }
      </div>
      <footer class="border-top d-flex align-items-center justify-content-center p-0 m-0">
        <p class="fs-5 text-muted p-0 m-0">AuraWeb</p>
      </footer>
    </div>
  </div>
</div>
