<button type="button" class="form-control text-start" data-bs-toggle="modal" data-bs-target="#searchModal">
    Search...
</button>

<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content p-2">
            <div class="d-flex align-items-center justify-content-between border-bottom">
                <i class="bi bi-search"></i>
                <input type="text" class="form-control border-0" placeholder="Type here...">
                <i class="bi bi-x-lg close" role="button" data-bs-dismiss="modal" aria-label="Close"></i>
            </div>
            <div class="text-center">
                <p>no user found.</p>
            </div>
        </div>
    </div>
</div>