@use '../../../styles/variables' as vars;


header{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1060;
}

.logo-auth {
  width: 100px;
  height: auto;
}

ul {
  list-style: none;

  li .bi {
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s ease-in-out;

    &:hover {
      color: vars.$my-green;
    }
  }

  a {
    text-decoration: none;
    color: black;
  }
}

.profile-details {
  cursor: pointer;
}


