@use '../../../../styles/variables' as vars;

.loader {
  border: 2px solid vars.$my-green;
  border-radius: 50%;
}

.loader {
  border: 2px solid vars.$my-green;
  width: 10px;
  height: 10px;
}

.loader {
  border: 4px solid vars.$my-green;
  border-left-color: transparent;
  width: 50px;
  height: 50px;
  animation: spin89345 0.5s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

