@use '../../../../../styles/variables' as vars;

.user-card {
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: #f5f5f5;
  }
}

button {
  margin-left: auto;
  background-color: #333;
  cursor: pointer;
  border: none;
}

.ico {
  color: white;
  font-size: 18px;
}

.link {
  text-decoration: none;
  color: black;
  transition: 0.2s ease-in-out;

  &:hover {
    color: gray;
  }
}

.loader {
  border: 2px solid white;
  border-left-color: transparent;
  border-radius: 50%;
}

.loader {
  border: 2px solid white;
  border-left-color: transparent;
  width: 10px;
  height: 10px;
}

.loader {
  border: 2px solid white;
  border-left-color: transparent;
  width: 20px;
  height: 20px;
  animation: spin89345 0.5s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1200px) {
  .style {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding-bottom: 6px;
  }

  .style > .user-card {
    min-width: fit-content;
    border: 1px solid ;
    margin-bottom: 30px;
  }
}
