.status {
  padding: 10px;
  border-radius: 20px;
  font-size: 12px;
  background-color: rgba(206, 255, 133, 0.888);
  color: green;
  font-weight: bold;
}

.banned {
  background-color: #ff7d7da8;
}
