@use '../../../../styles/variables' as vars;


.input {
    border: none;
    transition: .4s ease-in-out;
    border-left: 5px solid vars.$my-green;
    height: 50px;
    font-size: 2em;
}

.input:focus {
    box-shadow: none;
    height: 100px;
}

.text-area {
    border: none;
    border-left: 5px solid vars.$my-green;
    transition: .2s ease-in-out;
    resize: initial;
    min-height: 600px;
    font-size: 1.5em;

    &:focus {
        box-shadow: none;
        border: 1px solid vars.$my-green;
    }
}

.input::placeholder,
.text-area::placeholder {
    color: #999;
    font-size: 1em;
}

.details {
    right: 17px;
    top: 5px;
    background-color: rgb(144, 208, 62, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(8px);

    .bi {
        font-size: 20px;
        cursor: pointer;
        transition: .2s ease-in-out;

        &:hover {
            color: vars.$my-green;
        }
    }

}

.loader {
  border: 2px solid vars.$my-green;
    border-radius: 50%;
}

.loader {
  border: 2px solid vars.$my-green;
  width: 10px;
  height: 10px;
}

.loader {
  border: 4px solid vars.$my-green;
  border-left-color: transparent;
  width: 50px;
  height: 50px;
  animation: spin89345 0.5s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
