@use '../../../../styles/variables' as vars;


.input {
    border: none;
    transition: .4s ease-in-out;
    border-left: 5px solid vars.$my-green;
    height: 50px;
    font-size: 2em;
}

.input:focus {
    box-shadow: none;
    height: 100px;   
}

.text-area {
    border: none;
    border-left: 5px solid vars.$my-green;
    transition: .2s ease-in-out;
    resize: initial;
    min-height: 600px;
    font-size: 1.5em;

    &:focus {
        box-shadow: none;
        border: 1px solid vars.$my-green;
    }
}

.input::placeholder,
.text-area::placeholder {
    color: #999;
    font-size: 1em;
}

.details {
    right: 17px;
    top: 5px;
    background-color: rgb(144, 208, 62, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(8px);

    .bi {
        font-size: 20px;
        cursor: pointer;
        transition: .2s ease-in-out;

        &:hover {
            color: vars.$my-green;
        }
    }

}