.main-body {
  div {
    text-align: justify;
    width: 70%;
    overflow-wrap: break-word;
  }

  .img {
    height: 115px;
    width: 25%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    float: right;
    shape-margin: 1rem;
  }

}
