.main-body {
  text-align: justify;
  overflow-wrap: break-word;
}

.img {
  width: 45%;
  min-width: 200px;
  max-width: 340px;
  aspect-ratio: 4 / 3;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.text:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 767.98px) {
  .img {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 400px) {
  .main-body {
    text-align: left;
  }
}

:host ::ng-deep P {
  word-break: break-all;
  line-height: 1.9rem;
}
