.main-body {
  div {
    text-align: justify;
    width: 70%;
    overflow-wrap: break-word;
  }

  .img {
    height: 115px;
    width: 25%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    float: right;
    shape-margin: 1rem;
  }

}

@media (max-width: 400px) {
  .main-body{
    display: flex;
    flex-direction: column-reverse;
  }
  .img {
    height: 115px;
    border-radius: 10px;
    object-fit: cover;
    margin: 0 auto;
  }
}

 :host ::ng-deep P{
  word-break: break-all;
}
