.react{
    position: relative;
    background-color: #F5F5F5;
    padding: 4px 8px;
    border-radius: 20px;
}

.loader {
  border: 2px solid rgba(0, 0, 0, .1);
  border-left-color: transparent;
  border-radius: 50%;
}

.loader {
  border: 2px solid rgba(0, 0, 0, .1);
  border-left-color: transparent;
  width: 10px;
  height: 10px;
}

.loader {
  border: 2px solid rgba(0, 0, 0, .1);
  border-left-color: transparent;
  width: 20px;
  height: 20px;
  animation: spin89345 .5s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}