.profile{
  background-color: #F3F4F6;
  // height: 150px;
  display: flex;
  justify-content: center;
  // align-items: center;
  img{
    width: 105px;
    height: 105px;
    border-radius: 50%;
    position: relative;
    top: 20px;
  }
}
