  <div class="profile rounded mb-4">
    <img src="/assets/images/default-user.jpg" alt="" class="">
  </div>
  <div class="text-center">
      <h1 class="m-0">ISMAIL SAYEN</h1>
      <p class="fw-bolder m-1">Next.js Developer</p>
      <div class="d-flex justify-content-center align-items-center gap-2">
        <div >
          <span class="px-1 fw-bolder text-muted">0</span><span>followers </span>
        </div>
        <div>
          |
        </div>
        <div>
          <span class="px-1 fw-bolder text-muted">1</span><span>following </span>
        </div>

          <button class="btn btn-info">
              follow
          </button>
          <button class="btn btn-danger" (click)="reportService.show(1,'PROFILE','isayen')">
            report
          </button>
      </div>
      <div>
        <i class="bi bi-cake mx-2"></i>
        <span class="fw-bolder">Joined On 19-01-2026</span>
      </div>
  </div>
