@use '../../../../../styles/variables' as vars;

.profile {
  background-color: #3E4144;
  display: flex;
  justify-content: center;

  img {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    position: relative;
    top: 20px;
  }
}

.folow-btn {
  background-color: vars.$my_green;
}

.loader {
  border: 2px solid white;
  border-left-color: transparent;
  border-radius: 50%;
}

.loader {
  border: 2px solid white;
  border-left-color: transparent;
  width: 10px;
  height: 10px;
}

.loader {
  border: 2px solid white;
  border-left-color: transparent;
  width: 20px;
  height: 20px;
  animation: spin89345 0.5s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
