<div class="profile rounded mb-4">

  <img [src]="profileData()?.avatar || '/assets/images/default-user.jpg'" alt="" class="">
</div>

@if(loaderDataProfile()){
<p class="fw-bold text-center">wait...</p>
}@else{
<div class="text-center">
  <h1 class="m-0">{{profileData()?.userName}}</h1>
  <p class="fw-bolder m-1">{{profileData()?.job}}</p>
  <div class="d-flex justify-content-center align-items-center gap-2">
    <div>
      <span class="px-1 fw-bolder text-muted">{{profileData()?.followers}}</span><span>followers </span>
    </div>
    <div>
      |
    </div>
    <div>
      <span class="px-1 fw-bolder text-muted">{{profileData()?.following}}</span><span>following </span>
    </div>
    @if(profileData()?.MyAccount){

    }@else {
    <button class="btn btn-info text-white fw-bold" (click)="sendFollowReq(profileData()?.id ?? 0)">
      @if(loaderFollow()){
      <div class="loader"></div>
      }
      @else if(profileData()?.followed){
      unfollow
      }@else {
      follow
      }
    </button>
    <button class="btn btn-danger"
      (click)="reportService.show(profileData()?.id??0 ,'PROFILE',profileData()?.userName ?? '','report')">
      report
    </button>
    }
  </div>
  <div>
    <i class="bi bi-cake mx-2"></i>
    <span class="fw-bolder">Joined On {{profileData()?.createdAt}}</span>
  </div>
</div>
}
