<div class="blg-container w-100">

  @for (blog of blogService.blogs(); track $index) {
  <app-blog-card [blog]="blog" />
  <hr> 
  }
  <div #ob [hidden]="loader() || !blogService.blogs().length"></div>

  @if(!loader() && !blogService.blogs().length) {
  <div class="w-100 p-2 rounded empty"> 
    <img src="/assets/images/paper.png" alt="no data" class="mb-2">
    <p class="fw-bold">We couldn’t find any blogs for you. Follow other users to get inspired</p>
  </div>
    
  }


  @if(loader()){
  <p class="w-100 text-center">loading...</p>
  }
</div>
