<div class="form-child g-10 d-flex justify-content-center align-items-center flex-column">
  <app-header-form [page]="'login'" />

  <form class="w-75 p-1" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="email" class="form-label">Email address:</label>
      <input type="email" class="form-control" formControlName="email" id="email">
      @if (email?.invalid && (email?.dirty || email?.touched)) {
      @if (email?.hasError("required")) {
      <div class="text-danger">Email is required.</div>
      }
      @if (email?.hasError("email")) {
      <div class="text-danger">Email format is invalid.</div>
      }
      }
    </div>
    <div class=" mb-3 position-relative">
      <label for="pass" class="form-label">Password:</label>
      <div class="d-flex align-items-center">
        <input [type]="auth.showPassword()?'text':'password'" formControlName="password" id="pass" class="form-control">
        <i class="position-absolute pass" [ngClass]="auth.showPassword() ? 'bi-eye-fill' : 'bi-eye-slash-fill'"
          role="button" (click)="auth.show()">
        </i>
      </div>
      @if (password?.invalid && (password?.dirty || password?.touched)) {
      @if (password?.hasError("required")) {
      <div class="text-danger">password is required.</div>
      }
      @if (password?.hasError("minlength")) {
      <div class="text-danger">password must be at least 8 characters.</div>
      }
      @if (password?.hasError("maxlength")) {
      <div class="text-danger">password must be at most 16 characters.</div>
      }
      }
    </div>
    @if(backendError()){
    <div class="text-danger mb-3">{{backendError()}}</div>
    }
    <div class="mb-3">
      <app-button-submit [value]="'Login'" />
    </div>
  </form>

</div>