<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <input type="email" formControlName="email" id="email">
  @if (email?.invalid && (email?.dirty || email?.touched)) {
    @if (email?.hasError("required")) {
    <div style="color:red">Email is required.</div>
    }
    @if (email?.hasError("email")) {
    <div style="color:red">Email format is invalid.</div>
    }
  }

  <input type="password" formControlName="password" id="pass">
  @if (password?.invalid && (password?.dirty || password?.touched)) {
        @if (password?.hasError("required")) {
        <div style="color:red">User name is required.</div>
        }
        @if (password?.hasError("minlength")) {
        <div style="color:red">User name must be at least 4 characters.</div>
        }
        @if (password?.hasError("maxlength")) {
        <div style="color:red">User name must be at most 20 characters.</div>
        }
    }
  <button type="submit">login</button>
  <div [class]=""></div>
</form>
