:host ::ng-deep h1,
:host ::ng-deep h2,
:host ::ng-deep h3,
:host ::ng-deep h4,
:host ::ng-deep h5,
:host ::ng-deep h6 {
  font-weight: 400;
}

:host ::ng-deep p > img,
:host ::ng-deep video {
  border-radius: 10px;
  width: 650px;
  height: 400px;
  margin: 10px auto;
  object-fit: contain;
  display: block;
}

 :host ::ng-deep P{
  word-break: break-all;
}
/* 🔽 Responsive from 787px and below */
@media (max-width: 787px) {
  :host ::ng-deep p > img,
  :host ::ng-deep video {
    width: 100%;
    max-width: 100%;
    height: auto;           /* 👈 keep aspect ratio */
    border-radius: 8px;
  }
}
