@use "../../../../../styles/variables" as vars;

button {
    background-color: black;
    color: white;
    transition: 0.5s ease-in-out;
    position: relative;
    height: 45px;
}

button:hover {
    background-color: vars.$my-green;
}