label {
  display: block;
  margin-bottom: 10px;
}

.main {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.248);
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-report {
  width: 500px;
  background-color: white;
}
