.error-card {
  width: 30rem;
  height: 20rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 20px;
  z-index: 99999;
}
.first{
    border-radius: 20px 20px 0 0;
}
.cont {
  background-color: rgb(0, 0, 0, 0.4);
}

.icon {
  font-size: 6em;
  color: white;
}
