@use '../../../../../styles/variables' as vars;



input:focus {
  box-shadow: none;
  border: 1px solid vars.$my-green;
}
.form-child{
  background-color: #212529;
}
.pass {
  cursor: pointer;
  right: 10px;
  z-index: 1;

  &:hover {
    color: vars.$my-green;
  }
}

.upload-icon {
  padding: 20px;
  border: 1px dashed;
  border-radius: 10px;
  font-size: 60px;
  cursor: pointer;
  transition: .4s ease-in-out;

  &:hover {
    color: vars.$my-green ;
  }
}

.media-prev {
  width: fit-content;
}

.delete-icon {
  color: red;
  font-size: 20px;
  position: absolute;
  top: -8px;
  right: -10px;
  cursor: pointer;
}

.media{
  display: flex;
}
.t{
  align-self: center;
}



