<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <input type="text" formControlName="userName" placeholder="User Name">
  @if (userName?.invalid && (userName?.dirty || userName?.touched)) {
  @if (userName?.hasError("required")) {
  <div style="color:red">User name is required.</div>
  }
  @if (userName?.hasError("minlength")) {
  <div style="color:red">User name must be at least 4 characters.</div>
  }
  @if (userName?.hasError("maxlength")) {
  <div style="color:red">User name must be at most 20 characters.</div>
  }
  }
  <br>
  <input type="email" formControlName="email" placeholder="Email">
  @if (email?.invalid && (email?.dirty || email?.touched)) {
  @if (email?.hasError("required")) {
  <div style="color:red">Email is required.</div>
  }
  @if (email?.hasError("email")) {
  <div style="color:red">Email format is invalid.</div>
  }
  }
  <br>

  <input type="password" formControlName="password" placeholder="Password">
  =={{registerForm.controls.password.errors | json}}==

  <div [ngClass]="password?.hasError('lengthError') || password?.hasError('required')  ?'text-red':'text-green'">password must be between 8 and 16 charachter.</div>
  <div>password contains one char special, one upperCase, one lowercase and number</div>

  <button type="submit">Register</button>
</form>
