@use '../../../../../styles/variables' as vars;

.text-green {
  color: vars.$my-green;
}


input:focus {
  box-shadow: none;
  border: 1px solid vars.$my-green;
}

.pass {
  cursor: pointer;
  right: 10px;
  z-index: 1;

  &:hover {
    color: vars.$my-green;
  }
}