.cat {
  background-color: #F5F5F5;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
  background-color: #3E4144;

}

.link {
  text-decoration: none;
  color: black;
  transition: .2s ease-in-out;

  &:hover {
    color: gray;
  }
}

.jo {
  font-size: 0.8rem;
}
